* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
}
html, body {
	width: 100%;
	overflow-x: hidden;
}
html {
	font-size: 100%;
	scroll-behavior: smooth;
}
h1, h2, h3 {
	font-weight: 500;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}
h1 {
	font-size: 2.8rem;
	font-weight: 700;
}
h2 {
	color: #828282;
	padding-bottom: 10px;
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
	line-height: 2rem;
}
p {
	letter-spacing: 0.8px;
	line-height: 27px;
}

.loader-bg
{
  position:fixed;
  z-index:999999;
  background:lightgray;
  width:100%;
  height:100%;
}
.loader
{
  border:0 solid transparent;
  border-radius:50%;
  width:150px;
  height:150px;
  position:absolute;
  top:calc(50vh - 75px);
  left:calc(50vw - 80px);
}
.loader:before,.loader:after
{
  content:'';
  border:1.5em solid red;
  border-radius:50%;
  width:inherit;
  height:inherit;
  position:absolute;
  top:0;
  left:0;
  animation:loader 2s linear infinite;
  opacity:0;
}

.loader:before
{
  animation-delay:.5s;
}

@keyframes loader
{
  0%
   {
    transform:scale(0);
    opacity:0;
   }
   50%
   {
     opacity:1;
   }
   100%
   {
    transform:scale(1);
    opacity:0;
   }
}


.navbar-light .navbar-nav .nav-link {
	color: black;
	margin-left: 1rem;
	font-weight: 700;
	-moz-transition: -moz-transform 0.2s cubic-bezier(.25,.93,1,.09);
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(.25,.93,1,.09);
	-ms-transition: -ms-transform 0.2s cubic-bezier(.25,.93,1,.09);
	transition: transform 0.2s cubic-bezier(.25,.93,1,.09);
}
.navbar-light .navbar-nav .nav-link:hover {
	border-top: 1px solid #7cd9e8;
	border-right: 1px solid #7cd9e8;
	color: black;
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.about{
	position: relative;
	display: inline-block;	
}
.about::after
{
	content: "";
	width: 30%;
	height: 3px;
	background: #828282;
	position: absolute;
	left:calc(50% - 20%);
	bottom: 0;
	margin-bottom: -5px;

}

.active {
	border-left: 1px solid lightblue;
	border-bottom: 1px solid lightblue;
}
.fontsome {
	font-size: 80px;
	color: #7cd9e8;
}

img {
	width: 100%;
}
#introduction {
	padding-top: 5rem;
}
.card {
	border: none;
}
.sectionGap {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.go-top {
	background-color: #eee;
	bottom: 2em;
	right: 2em;
	color: #111112;
	font-size: 22px;
	display: none;
	position: fixed;
	text-decoration: none;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	transition: all 0.4s ease-in-out;
}
.project-location {
	border: 1px solid black;
	border-radius: none;
	font-weight: 700;
	margin: auto 6rem;
}
.project-location:hover {
	border: 2px solid #7cd9e8;
}
a img {
	-moz-transition: -moz-transform 0.2s ease-out;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-ms-transition: -ms-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	overflow: hidden;
}
a:hover img {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.service-card {
	-moz-transition: -moz-transform 0.5s ease-out;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-ms-transition: -ms-transform 0.5s ease-out;
	transition: transform 0.5s ease-in;
}
.service-card:hover {
	-moz-transform: rotateZ(-360deg);
	-webkit-transform: rotateZ(-360deg);
	-ms-transform: rotateZ(-360deg);
	transform: rotateZ(-360deg);
}
.go-top:hover {
	background: #f1c11a;
	color: #ffffff;
}
.footerwidth {
	padding-top: 2rem;
	color: #9E9E9E;
}
/* Media viewport for tablets*/

@media (max-width:767px) {
	.navbar-light .navbar-toggler {
		color: rgba(0, 0, 0, 0.5);
		outline: none;
		border: none;
	}
	.navbar-light .navbar-nav .nav-link {
		margin-left: 0px;
		border: none !important;
	}
	.pt-4, .py-4 {
		padding-top: 0rem !important;
	}
}
@media(max-width:991px) {
	h1, h2, h3 {
		font-weight: 500;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1.4rem;
		line-height: 2rem;
	}
	.project-location {
		margin: auto 3rem;
	}
}
@media (min-width:1024px) {
	.project-location {
		margin: auto 5rem;
	}
}
@media (max-width:567px) {
	.project-location {
		margin: auto 5rem;
	}
	@media (min-width: 375px) {
		.project-location {
			margin: auto 7rem;
		}
	}
}